*{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
body{
    margin: 0%;
}
input{
    border: none;
}
#first-box{
    margin-top: 5px;
    display: flex;
}
#banner-box{
    flex: 20;
}
#banner{
    width: 231px;
    height: 354px;
}
p{
    margin: 0;
    display: flex;

}
#product-box{
    flex: 80;
}
.product{
   
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(255, 242, 242);
    border-radius: 5px;
    box-shadow: 10px 10px 10px #e9dede;
    
}
.secondary{
    display: flex;
    flex-wrap: wrap;
    border-top: 0.25px solid rgb(189, 186, 186);
    justify-content: space-around;
    align-content: flex-start;
    box-shadow: snow;
    
    
}
.discount{
    padding-bottom: 2px;
    color: rgb(151, 233, 151);
}
.card{
    
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;

}

#card-box{
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
.primary{
    display: flex;
    justify-content:space-between;
    padding: 5px;
}
.small-card{
    display: flex;
    flex-direction: column;
}
.box{
    background-color: #2874f0;
    
    display: flex;
    font-size: 16px;
    position: sticky;
    top: 0;
}
.footer{
    display: flex;
    background-color: rgb(4, 4, 54);
    color: rgb(224, 217, 217);
    font-weight: 30;
}
.first{
    flex:60;
}
.second{
    flex:20;
}
.third{
    flex:20;
}
.button-cart{
    background: transparent;
    color: white;
}
#nav{
    gap:10px;
    margin-top: 15px;
    display: flex;
    height: 60px;
    
}
#flipkartIcon{
    margin-left: 150px;
    
   
    flex-direction: column;
}

#query{
    width: 280px;
    
    border: none;
    outline: none;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    
}
button{
    height: 32px;
    width: 60px;
    color: #2874f0;
    margin-bottom: 10px;
    background-color: white;
    border: white;
    
    font-size: 12px;
}
#login{
    background-color: white;
    border: white;
    margin-left: 20px;
    font-size: 12px;
    width: 100px;
}
#more{
    color: white;
    background-color: #2874f0;
    font-size: 12px;
    width: 100px;
}
#first-box-card{
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}
#cartimage{
    margin-left: 150px;
    margin-top: 10px;
    height: 30px;
    width: 60px;
}
.images{
    width: 100px;
    height: 100px;
}
h6{
    text-align: center;
}
#scroll{
    width: 100%;
}
.hover-card{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hover-card:hover{
    top:-15px;
    cursor: pointer;
    transition: top ease-in-out 5px;
    box-shadow: 0 15px 25px rgba(92, 87, 87, 0.2);
    border-bottom: 2px solid rgb(252, 101, 47);
}

.first-box-one{
    display: flex;
    flex-direction: column;
    padding: 20px;

}
.footer-first{
   display: flex;
   border-right: 1px solid white;
   border-color: gray;
}
   
.first-box-two{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.first-box-three{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.first-box-four{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.footer-second{
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-left:20px ;
    padding-top: 20px;
}
.footer-thrid{
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-top: 20px;
    padding-right: 20px;

}